@media (max-width:768px) {
    header {
        padding: 20px;
    }
.menu{
    display: block;
}
.nav-items{
    gap: 4px;
}
    .mobile-nav-items {
        position: absolute;
        background: #382d2d3f;
        top: 70px;
        right: 0;
        left: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px 80px;
        transform: scale(0);
        transform-origin: top left;
        transition: 0.5s;
        /* display: none; */
    }
    .show{
        transform: scale(1);
    }
    .mobile-nav-items a {
        width: fit-content;
    }
}